name: CI

on:
  push:
    branches: [ staging, trying, main ]
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - name: Done
        run: exit 0

  check:
    name: Check
    runs-on: ubuntu-latest

    env:
      SVDTOOLS: svd

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install xmllint
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils

      - name: Install tools
        run: |
          ./scripts/tool_install.sh svdtools
          pip install --user svdtools

      - name: Patch SVDs
        run: make -j2 patch

      - name: Check SVDs
        run: make lint
